aiogram~=3.0
environs~=14.0
sqlalchemy~=2.0
redis
betterlogging
asyncpg

# # For enabling api:
# backoff
# ujson
# yarl

# # For PostgreSQL sqlalchemy + alembic:
# sqlalchemy~=2.0
# alembic~=1.0
# asyncpg
